<link rel='stylesheet' href='/stylesheets/findtags.css' />
<div class="wrapp">
        <p style="font-size: 56px; text-align: center; margin-top:-82px;">Hi! Tell us a bit more about you</p>
        <p style="font-size:34px; text-align:center;">Select at least 5 tags</p>
</div>
<br>
<form class="cff" id='form-wrapperrr'>
        <input type="text" placeholder="Find tag" required>
        <button type="submit">Search</button>
</form>



<script>
        var x = 0;
        var array = Array();

        function setColor(btn, icon, color) {
                var property = document.getElementById(btn);

                property.style.backgroundColor = "#7FFF00"
                property.value = 'Tag added';

                var propertyy = document.getElementById(icon);
                propertyy.style.backgroundColor = "#7FFF00"
                propertyy.className = "glyphicon glyphicon-ok btn btn-info";
        }

        function add_element_to_array(id) {
                array[x] = document.getElementById(id).id;
                x++;
        }

        function display_array() {
                var e = "<hr/>";

                for (var y = 0; y < array.length; y++) {
                        e += "Element " + y + " = " + array[y] + "<br/>";
                }
                document.getElementById("Result").innerHTML = e;
        }
</script>

<div id="columns">
        <figure>
                <img src="/images/basketball.jpg">
                <h1>Basketball</h1>


                <div class="container">
                        <i class="glyphicon glyphicon-plus btn btn-info" style="margin-bottom:2px;" id="icon" onclick="setColor('basketball','icon' ,'#101010');add_element_to_array('basketball')"></i>
                        <input type="button" id="basketball" class="btn btn-info" value="Add tag" onclick="setColor('basketball','icon' ,'#101010');add_element_to_array('basketball')">
                        

                </div>


        </figure>

        <figure>
                <img src="/images/computerscience.jpeg">
                <h1>Computer Science</h1>

                <div class="container">
                        <i class="glyphicon glyphicon-plus btn btn-info" style="margin-bottom:2px;" id="computerscienceicon" onclick="setColor('computerscience','computerscienceicon' ,'#101010');;add_element_to_array('computerscience')"></i>
                        <input type="button" id="computerscience" class="btn btn-info" value="Add tag" onclick="setColor('computerscience','computerscienceicon' ,'#101010');add_element_to_array('computerscience')">

                </div>

        </figure>

        <figure>
                <img src="/images/muisc.jpg">
                <h1>Music</h1>
                <div class="container">
                        <i class="glyphicon glyphicon-plus btn btn-info" style="margin-bottom:2px;" id="musicicon" onclick="setColor('music','musicicon' ,'#101010');add_element_to_array('music')"></i>
                        <input type="button" id="music" class="btn btn-info" value="Add tag" onclick="setColor('music','musicicon' ,'#101010');add_element_to_array('music')">
                </div>
        </figure>



        <figure>
                <img src="/images/movies.jpg">
                <h1>Movies</h1>
                <div class="container">
                        <i class="glyphicon glyphicon-plus btn btn-info" style="margin-bottom:2px;" id="moviesicon" onclick="setColor('movies','moviesicon' ,'#101010');add_element_to_array('movies')"></i>
                        <input type="button" id="movies" class="btn btn-info" value="Add tag" onclick="setColor('movies','moviesicon' ,'#101010');add_element_to_array('movies')">
                </div>
        </figure>

        <figure>
                <img src="/images/cooking.jpg">
                <h1>Cooking</h1>
                <div class="container">
                        <i class="glyphicon glyphicon-plus btn btn-info" style="margin-bottom:2px;" id="cookinicon" onclick="setColor('cooking','cookinicon' ,'#101010');add_element_to_array('cooking')"></i>
                        <input type="button" id="cooking" class="btn btn-info" value="Add tag" onclick="setColor('cooking','cookinicon' ,'#101010');add_element_to_array('cooking')">
                </div>
        </figure>

        <figure>
                <img src="/images/photography.jpeg">
                <h1>Photography</h1>
                <div class="container">
                        <i class="glyphicon glyphicon-plus btn btn-info" style="margin-bottom:2px;" id="photographyicon" onclick="setColor('photography','photographyicon' ,'#101010');add_element_to_array('photography')"></i>
                        <input type="button" id="photography" class="btn btn-info" value="Add tag" onclick="setColor('photography','photographyicon' ,'#101010');add_element_to_array('photography')">
                </div>
        </figure>


        <figure>
                <img src="/images/drawing.jpg">
                <h1>Drawing</h1>
                <div class="container">
                        <i class="glyphicon glyphicon-plus btn btn-info" style="margin-bottom:2px;" id="drawingicon" onclick="setColor('drawing','drawingicon' ,'#101010');add_element_to_array('drawing')"></i>
                        <input type="button" id="drawing" class="btn btn-info" value="Add tag" onclick="setColor('drawing','drawingicon' ,'#101010');add_element_to_array('drawing')">
                </div>
        </figure>
</div>
 <input type="button" id="button2" value="Display" onclick="display_array();"></input>
                        <div id="Result"></div> 