<link rel='stylesheet' href='/stylesheets/findtags.css' />
<div class="wrapp">
        <p style="font-size: 56px; text-align: center; margin-top:-82px;">Hi! Tell us a bit more about you</p>
        <p style="font-size:34px; text-align:center;">Select at least 5 tags</p>
</div>
<br>
<form class="cff" id='form-wrapperrr'>
        <input type="text" placeholder="Find tag" required>
        <button type="submit">Search</button>
</form>



<script>
        var x = 0;
        var array = Array();
        const toUrlEncoded = obj => Object.keys(obj).map(k => encodeURIComponent(k) + '=' + encodeURIComponent(obj[k]))
                .join('&');

        function setColor(btn, icon, color) {
                var property = document.getElementById(btn);

                property.style.backgroundColor = "#7FFF00"
                property.value = 'Tag added';

                var propertyy = document.getElementById(icon);
                propertyy.style.backgroundColor = "#7FFF00"
                propertyy.className = "glyphicon glyphicon-ok btn btn-info";
        }

        function add_element_to_array(id) {
                if (array.indexOf(id) == -1) {
                        array[x] = document.getElementById(id).id;
                        x++;
                }
        }

        function display_array() {
                var e = "<hr/>";

                for (var y = 0; y < array.length; y++) {
                        e += "Element " + y + " = " + array[y] + "<br/>";
                }
                document.getElementById("Result").innerHTML = e;
        }

        function submitTags() {
                var urlEncodedString = "";
                if (array.length < 5) {
                        alert("You must insert more than 5 tags!");
                        return false;
                }
                for (var y = 0; y < array.length; y++) {
                        urlEncodedString += array[y] + "--";
                }
                urlEncodedString = encodeURI(urlEncodedString);
                urlEncodedString = "tagArray=" + urlEncodedString;

                var xhr = new XMLHttpRequest();
                xhr.open("POST", '/updateTags', true);

                //Send the proper header information along with the request
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

                xhr.onreadystatechange = function () { //Call a function when the state changes.
                        if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
                                window.location.href="/account";
                        }
                }
                xhr.send(urlEncodedString);
        }
</script>

<div id="columns">
        <figure>
                <img src="/images/basketball.jpg">
                <h1>Basketball</h1>


                <div class="container">
                        <i class="glyphicon glyphicon-plus btn btn-info" style="margin-bottom:2px;" id="icon" onclick="setColor('Basketball','icon' ,'#101010');add_element_to_array('Basketball');"></i>
                        <input type="button" id="Basketball" class="btn btn-info" value="Add tag" onclick="setColor('Basketball','icon' ,'#101010');add_element_to_array('Basketball');">


                </div>


        </figure>

        <figure>
                <img src="/images/computerscience.jpeg">
                <h1>Computer Science</h1>

                <div class="container">
                        <i class="glyphicon glyphicon-plus btn btn-info" style="margin-bottom:2px;" id="computerscienceicon" onclick="setColor('Computer Science','computerscienceicon' ,'#101010');;add_element_to_array('Computer Science')"></i>
                        <input type="button" id="Computer Science" class="btn btn-info" value="Add tag" onclick="setColor('Computer Science','computerscienceicon' ,'#101010');add_element_to_array('Computer Science')">

                </div>

        </figure>

        <figure>
                <img src="/images/muisc.jpg">
                <h1>Music</h1>
                <div class="container">
                        <i class="glyphicon glyphicon-plus btn btn-info" style="margin-bottom:2px;" id="musicicon" onclick="setColor('Music','musicicon' ,'#101010');add_element_to_array('Music')"></i>
                        <input type="button" id="Music" class="btn btn-info" value="Add tag" onclick="setColor('Music','musicicon' ,'#101010');add_element_to_array('Music')">
                </div>
        </figure>



        <figure>
                <img src="/images/movies.jpg">
                <h1>Movies</h1>
                <div class="container">
                        <i class="glyphicon glyphicon-plus btn btn-info" style="margin-bottom:2px;" id="moviesicon" onclick="setColor('Movies','moviesicon' ,'#101010');add_element_to_array('Movies')"></i>
                        <input type="button" id="Movies" class="btn btn-info" value="Add tag" onclick="setColor('Movies','moviesicon' ,'#101010');add_element_to_array('Movies')">
                </div>
        </figure>

        <figure>
                <img src="/images/cooking.jpg">
                <h1>Cooking</h1>
                <div class="container">
                        <i class="glyphicon glyphicon-plus btn btn-info" style="margin-bottom:2px;" id="cookinicon" onclick="setColor('Cooking','cookinicon' ,'#101010');add_element_to_array('Cooking')"></i>
                        <input type="button" id="Cooking" class="btn btn-info" value="Add tag" onclick="setColor('Cooking','cookinicon' ,'#101010');add_element_to_array('Cooking')">
                </div>
        </figure>

        <figure>
                <img src="/images/photography.jpeg">
                <h1>Photography</h1>
                <div class="container">
                        <i class="glyphicon glyphicon-plus btn btn-info" style="margin-bottom:2px;" id="photographyicon" onclick="setColor('Photography','photographyicon' ,'#101010');add_element_to_array('Photography')"></i>
                        <input type="button" id="Photography" class="btn btn-info" value="Add tag" onclick="setColor('Photography','photographyicon' ,'#101010');add_element_to_array('Photography')">
                </div>
        </figure>


        <figure>
                <img src="/images/drawing.jpg">
                <h1>Drawing</h1>
                <div class="container">
                        <i class="glyphicon glyphicon-plus btn btn-info" style="margin-bottom:2px;" id="drawingicon" onclick="setColor('Drawing','drawingicon' ,'#101010');add_element_to_array('Drawing')"></i>
                        <input type="button" id="Drawing" class="btn btn-info" value="Add tag" onclick="setColor('Drawing','drawingicon' ,'#101010');add_element_to_array('Drawing')">
                </div>
        </figure>
</div>
<input type="button" value="Update Tags" onclick="return submitTags();"></input>
<input type="button" id="button2" value="Display" onclick="display_array();"></input>
<div id="Result"></div>