<link rel='stylesheet' href='/stylesheets/mainpagestyle.css' />

<script>// JS for content editable trick from Chris Coyier

var h1 = document.querySelector("h1");

h1.addEventListener("input", function() {
  this.setAttribute("data-heading", this.innerText);
});</script>
<h1 data-heading="Bubble Chat">Bubble Chat</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
   

        <a href="/signup" class="button5" style="background-color:#42cc8c; margin-left:35%;margin-right:35%;display:block;margin-top:23%;margin-bottom:0%">Get started!</a>
        <!--
		<a href="something" class="button5" style="border-color:#FFFFFF; background-color:rgba(0,0,0,0); color:#FFFFFF"></a> 
-->
    
    
    <div class="wrap">

        <div class="box box3 shadow3">
            <h3>We are trying to shift the way instant messaging will be used. Instead of creating chat groups with friends you
                already have, we will create chat groups that will match you with new friends! We turn the tables so that
                you can meet people you enjoy that you never would have met before!
            </h3>
        </div>

    </div>
