<link rel='stylesheet' href='/stylesheets/mainpagestyle.css' />

<div class="bg">
    <div style="font-size:1.5em">
        <br>
        <br>
        <br>
        <h1>
            <p style="display:block;text-align:center;font-size: 99px;">
                <kbd>BubbleChat</kbd>
            </p>
            <p style="display:block;text-align:center">Omegle v2.0</p>
        </h1>

        <a href="/signup" class="button5" style="background-color:#42cc8c; margin-left:40%;margin-right:40%;display:block;margin-top:6%;margin-bottom:0%">Get started!</a>
        <!--
		<a href="something" class="button5" style="border-color:#FFFFFF; background-color:rgba(0,0,0,0); color:#FFFFFF"></a> 
-->
    </div>
    <br>
    <br>
    <br>
    
    <div class="wrap">

        <div class="box box3 shadow3">
            <h3>We are trying to shift the way instant messaging will be used. Instead of creating chat groups with friends you
                already have, we will create chat groups that will match you with new friends! We turn the tables so that
                you can meet people you enjoy that you never would have met before!
            </h3>
        </div>

    </div>
</div>