<link rel='stylesheet' href='/stylesheets/loginstyle.css' />
<style>
    .loginactive {
        
            background-color: #DCDCDC;
        }
    }
</style>
<div class="wrap">
    <p style="font-size: 48px; text-align: center;">Log in</p>
    <br>
    <br>
    <div class="avatar">
        <img src="/images/image.png">
    </div>
    <input type="text" placeholder="username" required>
    <div class="bar">
        <i></i>
    </div>
    <input type="password" placeholder="password" required>
    <a href="" class="forgot_link">forgot ?</a>
    <button>Sign in</button>
</div>