<link rel='stylesheet' href='/stylesheets/loginstyle.css' />
<style>
    .signupactive {
        background-color: #DCDCDC;
    }
</style>
<div class="wrap">
    <p style="font-size: 48px; text-align: center; margin-top:-82px;">Sign up</p>
<form action="/authNew" method="POST">

    <div class="avatar">
        <img src="/images/image.png">
    </div>

    <input type="text" name="username" placeholder="username" required>
    <div class="bar">
        <i></i>
    </div>
    <input type="password" name="password" placeholder="password" required>
    <div class="bar">
        <i></i>
    </div>
    <input type="justtext" name="firstname" placeholder="First name" required>
    <div class="bar">
        <i></i>
    </div>
    <input type="justtext" name="lastname" placeholder="Last name" required>
    <div class="bar">
        <i></i>
    </div>
    <input type="date" name="dateofbirth" max="2017-07-31" placeholder="Birthday" required>
    <div class="bar">
        <i></i>
    </div>
    <input type="email" name="email" placeholder="E-mail" required>

    <br>

    <button type="submit">Sign up</button>
    </form>
</div>