.navbar-brand {
    transform: translateX(-50%);
    left: 51%;
    position: absolute;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
    padding: 7px 14px;
}
.container{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 3%;
    margin-left:25%;
}