@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

body {
    background: #448ed3;
    font-family: "Lato";
}

.wrapp {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20%;
}
.navbar{
  background-image: linear-gradient(to right, #f4eba0 0%, #f4eba0 100%);}

.navbar-brand {
    transform: translateX(-50%);
    left: 51%;
    position: absolute;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
    padding: 7px 14px;
}




body {
    background: #448ed3;
    font: 13px 'Lucida sans', Arial, Helvetica;
    color: #eee;
    text-align: center;
  }

  a {
    color: #ccc;
  }

  /*-------------------------------------*/

  .cff:before, .cff:after{
    content:"";
    display:table;
  }

  .cff:after{
    clear:both;
  }

  .cff{
    zoom:1;
  }

  /*-------------------------------------*/ 

  #form-wrapperrr {
    z-index: 1;
    width: 470px;
    color:#448ed3;
    padding: 15px;
    margin: 10px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
  }

  #form-wrapperrr input {
    width: 330px;
    height: 40px;
    padding: 10px 5px;
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;      
  }

  #form-wrapperrr input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  }

  #form-wrapperrr input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
 }

 #form-wrapperrr input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

#form-wrapperrr input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}    

#form-wrapperrr button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: #d83c3c;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;      
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   

#form-wrapperrr button:hover{   
  background: #e54040;
} 

#form-wrapperrr button:active,
#form-wrapperrr button:focus{   
  background: #c42f2f;    
}

#form-wrapperrr button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #d83c3c transparent;
  top: 12px;
  left: -6px;
}

#form-wrapperrr button:hover:before{
  border-right-color: #e54040;
}

#form-wrapperrr button:focus:before{
  border-right-color: #c42f2f;
}    

#form-wrapperrr button::-moz-focus-inner {
  border: 0;
  padding: 0;
}







h1{
  color:#444;
}




#columns {
	column-width: 320px;
	column-gap: 15px;
  width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

div#columns figure {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

div#columns figure img {
	width: 100%; height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
}
/*
div#columns:hover figure:not(:hover) {
	opacity: 0.4;
}
*/
@media screen and (max-width: 750px) { 
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}




#updatetagsbutton{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.7em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;

width: 300px;
 
}
#updatetagsbutton:hover{
  background:#fff;
  color:#1AAB8A;
}
#updatetagsbutton:before,#updatetagsbutton:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
#updatetagsbutton:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#updatetagsbutton:hover:before,#updatetagsbutton:hover:after{
  width:100%;
  transition:800ms ease all;
}






